@model Swallow.Entity.Article
@{
    ViewBag.Title = "User - Create";
}

<div class="sub-navbar">
    <div class="sub-right">
        @using (Html.BeginForm("Index", "User", FormMethod.Get, new { @class = "form-inline" })) {
            <input type="text" class="input-m form-control" value="@ViewBag.Phone" name="Phone" placeholder="搜索标题">
            <button type="submit" class="btn btn-primary">搜索</button>
        }
    </div>
    <ul class="nav sub-navbar-nav">
        <li class="">@Html.ActionLink("Index", "Index")</li>
        <li class="active">@Html.ActionLink("Create", "Create")</li>
    </ul>
</div>

<h2>User - Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Introduction)
        @Html.TextBoxFor(m => m.Introduction, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Introduction)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Status)
        @Html.DropDownListFor(m => m.Status, (IEnumerable<SelectListItem>)ViewBag.StatusSel, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Vector)
        @Html.DropDownListFor(m => m.Vector, (IEnumerable<SelectListItem>)ViewBag.VectorSel, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RedditRank)
        @Html.TextBoxFor(m => m.RedditRank, new { @class = "form-control", type = "number" })
        @Html.ValidationMessageFor(model => model.RedditRank)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DifficultyRank)
        @Html.TextBoxFor(m => m.DifficultyRank, new { @class = "form-control", type = "number" })
        @Html.ValidationMessageFor(model => model.DifficultyRank)
    </div>
    <input type="submit" value="Submit" class="btn btn-default" />
}

<p class="mt10">
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
}
