@using Swallow.Entity
@model IEnumerable<Case>

@{
    ViewBag.Title = "Articles";
}

<div class="sub-navbar">
    <div class="sub-right">
        @using (Html.BeginForm("Index", "Case", FormMethod.Get, new { @class = "form-inline" })) {
            <input type="text" class="input-m form-control" value="@ViewBag.Query" name="query" placeholder="Words">
            <button type="submit" class="btn btn-primary">搜索</button>
        }
    </div>
    <div class="sub-left form-inline">
        OrderBy:
        @Html.DropDownList("select_pattern", (IEnumerable<SelectListItem>)ViewBag.PatternSel, new { @class = "form-control sel-query" })
    </div>
    <ul class="nav sub-navbar-nav">
        <li class="active">@Html.ActionLink("Index", "Index")</li>
        <li class="">@Html.ActionLink("Create", "Create")</li>
    </ul>
</div>

<table class="table">
    <tr>
        <th></th>
        <th>
            Status
            @Html.DropDownList("select_status", (IEnumerable<SelectListItem>)ViewBag.StatusSel, new { @class = "sel-query"})
        </th>
        <th>Rank</th>
        <th>Context</th>
        <th>CreateTime</th>
        <th>User</th>
        <th>Acticle</th>
        <th></th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>@item.Id - @item.Words</td>
            <td>@((ArticleStatus)item.Status)</td>
            <td>@item.Rank</td>
            <td>@item.Context</td>
            <td>@item.CreateTime</td>
            <td>
                @Html.ActionLink(item.UserId, "Item", "User", new { id = item.UserId })
            </td>
            <td>
                @Html.ActionLink(item.ArticleTitle, "Item", "Acticle", new { id = item.ArticleId })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

@section Scripts {
    <environment names="Development">
        <script src="~/js/index.js" asp-append-version="true"></script>
    </environment>
}