@model dynamic

@{
    ViewBag.Title = "在线用户";
    //var users = (List<string>)Model;
}

<div class="sub-navbar">
    <div style="margin-top:3px; float:right;">
        @using (Html.BeginForm("Index", "User", FormMethod.Get, new { @class = "form-inline" })) {
            <input type="text" class="input-m form-control" value="@ViewBag.Phone" name="Phone" placeholder="手机号/用户名/ID">
            <button type="submit" class="btn btn-primary">搜索</button>
        }
    </div>

    <ul class="nav sub-navbar-nav">
        <li class="">@Html.ActionLink("Index", "Index")</li>
        <li class="active">@Html.ActionLink("在线用户", "IndexLineOn")</li>
        <li class="">@Html.ActionLink("Create", "Create")</li>
    </ul>
</div>

<h2>@ViewBag.Title</h2>
@*在线用户 @(users.Count) 个*@